header {
  align-items: center;
  background-color: black;
  box-shadow: 0 4px 1px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  max-width: 250px;
  min-width: 250px;
}

.div-img-user {
  align-items: center;
  display: flex;
  height: 96px;
  left: 80%;
  position: absolute;
  width: max-content;
}

.header-user-img {
  border-radius: 50%;
  width: 36px;
}

.logoHeader {
  align-self: flex-start;
  margin-bottom: 24px;
  margin-left: 24px;
  width: 117px;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Link {
  align-items: center;
  color: #b2b2b2;
  display: flex;
  font-family: Epilogue , sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 36px;
  justify-content: flex-start;
  margin-bottom: 6px;
  margin-left: 24px;
  text-decoration: none;
  width: 100%;
}

.Link:first-child {
  border-left: 0;
}

.user {
  align-items: center;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 40px;
  justify-content: left;
  margin-right: 46px;
  width: 200px;
}

.user-icon {
  color: #212529;
  font-size: 36px;
  margin-left: 2px;
}

.user p {
  color: #29313d;
  font-family: Epilogue , sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  margin: auto;
}

.active {
  color: white;
}

.icon-header {
  font-size: 24px;
  margin-right: 20px;
}

.div-favorite-img-header {
  align-items: center;
  background: linear-gradient(120deg, #5f5797 45%, rgb(168, 152, 152) 110%);
  display: flex;
  height: 24px;
  justify-content: center;
  margin-right: 20px;
  width: 24px;
}

.icon-favorite-card-header {
  color: #b2b2b2;
}
